/* ctrl + shift + p -> user snippets --- css.json*/

@media (max-width: 991px) {
    .service-section .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .portfolio-section .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .home-section .home-text,
    .home-section .home-img {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text {
        order: 2;
    }
    .home-section .home-text {
        text-align: center;
    }
    .home-section .full-screen {
        padding: 100px 0 10px 0;
    }
    .home-section .home-img .img-box {
        margin-bottom: 40px;
        max-width: 250px;
        min-width: 200px;
    }
    .effect-1 {
        bottom: 5%;
    }
    .effect-3 {
        margin-left: -60px;
    }
    .effect-4 {
        top: 50%;
        left: 7%;
    }
    .home-section .home-img {
        padding: 0;
    }
    .home-section .home-text h2 {
        font-size: 35px;
    }
    .home-section .home-text h1 {
        font-size: 18px;
    }
    /* --------------about me */
    div.skills.tab-content.active .row {
        display: block;
    }
    .about-section .about-img {
        flex: none;
        max-width: 100%;
    }
    .about-section .about-img .social-links {
        margin-bottom: 30px;
    }
    .about-section .about-info p {
        text-align: justify;
    }
    .about-section .about-info {
        flex: none;
        max-width: 100%;
        text-align: center;
    }
    .about-section .about-tabs {
        padding: 50px 0px;
    }
    .about-section .skills .skill-item {
        max-width: 100%;
    }
    .about-section .timeline .timeline-item:nth-child(odd) {
        padding: 0;
        margin: 0 10px 50px;
    }
    .about-section .timeline .timeline-item:nth-child(even) {
        padding: 0;
        margin: 0 10px 50px;
    }
    div.experience.tab-content.active {
        padding-bottom: 0;
    }
    div.education.tab-content.active {
        padding-bottom: 0;
    }
    div.skills.tab-content.active {
        padding-bottom: 0;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .icon {
        right: 200px;
    }
    .about-section .timeline .timeline-item:nth-child(even) .icon {
        left: 200px;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
        right: 0;
    }
    .timeline .row {
        display: block;
    }
    /* ------------------------ services -------------------- */
    section.service-section.section.active {
        padding-bottom: 0;
    }
    .service-section.section.active .row {
        display: block;
    }
    .service-section .service-item {
        max-width: 100%;
    }
    /* ------------------------- portfolio------------------------- */
    .portfolio-section .portfolio-filter {
        padding: 0;
    }
    div.row.portfolio-items {
        display: block;
    }
    .portfolio-section .portfolio-item {
        max-width: 100%;
    }
    section.portfolio-section.section.active {
        padding-bottom: 0;
    }
    .pp-project-details .row {
        display: block;
        text-align: center;
    }
    .portfolio-popup .description {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .portfolio-popup .info {
        max-width: 100%;
    }
    /* --------------------testimonial------------------------------ */
    section.testimonial-section.section.active {
        padding-bottom: 20px;
    }
    /* ----------------------------contact---------------------------------- */
    .contact-section.section.active .row {
        display: block;
    }
    .contact-section .contact-item {
        max-width: 100%;
    }
    .contact-section .w-50 {
        max-width: 100%;
    }
    .contact-section .submit-btn {
        text-align: center;
    }
    section.contact-section.section.active {
        padding-bottom: 30px;
    }
}