:root {
    --skin-color: #fb839e;
    --fuente-principal: 'Abel', sans-serif;
    --fuente-secundaria: 'Fira Sans Condensed', sans-serif;
    --fuente-tercearia: 'Gabriela', serif;
    --fuente-cuarta: 'Teko', sans-serif;
}